@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
.fo {
    font-family: 'Itim', cursive;
}

.bg-ju {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 31%, rgba(0, 212, 255, 1) 100%);
}

.but {
    color: #ffffff;
    background-color: #090979;
}